{% extends 'school/admin/adminbase.html' %}
{% load static %}

{% block content %}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 50px; /* Reduced margin for better fit */
    }

    /* Style for the "No Pending" message */
    .no-data-panel {
      text-align: center;
      padding: 50px;
      color: #777;
    }
    .no-data-icon {
      font-size: 30px;
      margin-bottom: 20px;
      color: #5cb85c; /* Bootstrap Success Green */
    }
  </style>
</head>

<div class="container">
  <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">Pending Student Approvals</h6>
      </div>

      {% if students %}
      <table class="table table-hover table-striped table-bordered" id="dev-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Admission No</th> <th>Class</th>
            <th>Parent Info</th> <th>Date Applied</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for s in students %}
          <tr>
            <td>{{ s.get_name }}</td>
            <td>{{ s.roll }}</td>
            <td>{{ s.cl }}</td>
            <td>
                {{ s.parent_name }} <br>
                <small>{{ s.parent_mobile }}</small>
            </td>
            <td>{{ s.user.date_joined|date:"d M Y" }}</td>

            <td>
              <a class="btn btn-success btn-xs" href="{% url 'approve-student' s.id  %}" title="Approve">
                <span class="glyphicon glyphicon-ok"></span> Accept
              </a>

              <a class="btn btn-danger btn-xs" href="{% url 'reject-student' s.id  %}" title="Reject" onclick="return confirm('Are you sure you want to reject this application?')">
                <span class="glyphicon glyphicon-trash"></span> Reject
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
      <div class="no-data-panel">
        <span class="glyphicon glyphicon-ok-circle no-data-icon"></span>
        <h3>No Pending Approvals</h3>
        <p>Great job! All student applications have been processed.</p>
      </div>
      {% endif %}

    </div>
  </div>
</div>

{% endblock content %}